{{ define "main" }}
<section class="film-archive">
  <div class="film-list">
    {{ range $index, $element := .Pages.ByDate.Reverse }}
    <article class="film-entry">
      <div class="film-image">
        <a href="{{ $element.RelPermalink }}">
          <img src="{{ $element.Params.feature_image }}" alt="{{ $element.Params.film_title }}">
        </a>
      </div>

      <div class="film-text">
        <a href="{{ $element.RelPermalink }}">
          <div class="film-title-list">
            {{ $element.Params.film_title }}
            {{ with $element.Params.film_title_org }}
              <p class="film-title-org" style="display:block; font-size:1.2rem; margin-top:0.2rem;">
                {{ . }}
              </p>
            {{ end }}
            <p class="film-details-hero">{{ $element.Params.Director }} · {{ $element.Params.year }} · {{ $element.Params.country }} · {{ $element.Params.minutes }} мин</p>
            <div class="film-author-subtext">{{ $element.Params.text_author }}</div>
          </div>
        </a>

        {{ if eq $index 0 }}
          <div class="stream-label">{{ $element.Params.stream_duration }}</div>
        {{ else }}
          <div class="stream-label stream-label--hidden">{{ $element.Params.stream_duration }}</div>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ end }}
