<footer class="simple-footer" role="contentinfo">
  <div class="footer-inline">

    <!-- social links -->
<nav class="footer-social" aria-label="social media">
  <a href="#">SOUNDCLOUD &#8599;&#65038;</a><span class="pipe">|</span>
  <a href="#">TWITTER &#8599;&#65038;</a><span class="pipe">|</span>
  <a href="#">FACEBOOK &#8599;&#65038;</a><span class="pipe">|</span>
  <a href="#">INSTAGRAM &#8599;&#65038;</a>
</nav>


    <!-- copyright -->
    <div class="footer-right">
      <span class="pipe">|</span>
      ВСИЧКИ&nbsp;ПРАВА&nbsp;ЗАПАЗЕНИ&nbsp;©&nbsp;2025
    </div>

  </div>
</footer>
