<footer class="simple-footer">
    <div class="footer-inner">
  
      <!-- Left: Socials + Contact -->
      <div class="footer-left">
        <div class="footer-contact">
          <p><a href="mailto:info@example.com">Имейл: info@example.com</a></p>
          <p>Телефон: +359 888 888 888</p>
          <p class="footer-bottom">{{ now.Year }}. All rights reserved &copy;.</p>
        </div>
        <div class="footer-social">
            <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/facebook.svg" alt="Facebook" /></a>
            <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/twitter.svg" alt="Twitter" /></a>
            <a href="#"><img src="https://cdn.jsdelivr.net/gh/simple-icons/simple-icons/icons/instagram.svg" alt="Instagram" /></a>
          </div>
      </div>
  
      <!-- Right: Partner logos -->
      <div class="footer-partners">
        <img src="/img/partners/logo-Placeholder.jpg" alt="Partner 2" />
        <img src="/img/partners/images.jpg" alt="Partner 3" />
      </div>
  
    </div>
  

  </footer>
  
