<footer class="simple-footer" role="contentinfo">
  <div class="footer-inline">

    {{ $links := .Site.Params.footer_links }}

    {{ with $links }}
      <nav class="footer-social" aria-label="social media">
        {{ range $index, $link := . }}
          {{ if $index }}
            <span class="pipe">|</span>
          {{ end }}

          <a href="{{ $link.url }}"
             target="_blank"
             rel="noopener noreferrer">
            {{ $link.label }} ↗
          </a>
        {{ end }}
      </nav>
    {{ end }}

    <div class="footer-right">
      {{ with $links }}
        <span class="pipe">|</span>
      {{ end }}
      ВСИЧКИ&nbsp;ПРАВА&nbsp;ЗАПАЗЕНИ&nbsp;©&nbsp;{{ now.Year }}
    </div>

  </div>
</footer>