<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

{{ $main := resources.Get "css/main.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous">
{{ $filmlist := resources.Get "css/film-list.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $filmlist.RelPermalink }}" integrity="{{ $filmlist.Data.Integrity }}" crossorigin="anonymous">

{{ partial "seo.html" . }}

<link rel="stylesheet" href="/dimbox.min.css" />
<script src="/dimbox.min.js"></script>
<script>
  dimbox.setConfig({ showDownloadButton: false, showFullscreenButton: true });
</script>

{{/* Optional: bg hreflang self-link (use multilingual blocks later if needed) */}}
<link rel="alternate" hreflang="bg" href="{{ .Permalink }}">

{{ partial "head/js.html" . }}

<!-- Meta Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1156946076333874');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1156946076333874&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->
