{{ define "main" }}

{{ $main := resources.Get "css/posters.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous">

<section class="poster-archive">
  <div class="poster-grid">
    {{ range .Pages.ByDate.Reverse }}
    <figure class="poster-card">
      <a
        href="{{ .Params.thumbnail }}"
        data-dimbox="posters"
        data-dimbox-caption="{{ .Params.title }} ({{ .Params.year }})"
      >
        <img src="{{ .Params.thumbnail }}" alt="{{ .Params.title }}" />
      </a>
      <figcaption>
        <div class="poster-title">{{ .Params.title }} ({{ .Params.year }})</div>
        <div class="poster-author">{{ .Params.author }}</div>
      </figcaption>
    </figure>
    {{ end }}
  </div>
</section>
{{ end }}